
body {
    /*max-width: 1200px;
    margin: 0 auto;
    display: grid;
    box-sizing: border-box;*/
    /*grid-template-columns: 25% 25% 25% 25%;*/
    /*grid-template-rows: 25% 25% 25% 25%;*/
    /*min-width: 240px;*/
    grid-gap: 10px;
    max-width: auto;
    background-color: rgb(35, 36, 37);
    display: grid;
    padding: 10px;
    border-radius: 10px;
    grid-template-areas:
      'header1 nav1 nav2'
      'header2 header2 header2'
      'main main sidebar1'
      "main main sidebar2"
      "footer1 footer1 footer2";
}

  h1 {
    grid-area: header1;
    text-align: center;
    text-transform: capitalize;
    font-family:'Lucida Sans Unicode';
    color: whitesmoke;
  }

  .nav-bar2 {
    grid-area: nav1;
  }

  .nav-bar4 {
    grid-area: nav2;
  }

  a:link {
    font-family: Haettenschweiler;
    color: whitesmoke;
    background-color: rgb(101, 105, 109, .6);
  }

  a:hover {
    opacity: .4;
  }

  h2 {
    grid-area: header2;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    color: whitesmoke;
  }


  .carousel {
    grid-area: main;
    max-width: 100%;
  }

  .carousel img {
    max-width: 100%;
  }

  .gallery1 {
    grid-area: sidebar1;
    max-width: 100%;
  }

  .gallery1 img {
    max-width: 100%;
  }

  .gallery2 {
    grid-area: sidebar2;
    max-width: 100%;
  }

  .gallery2 img {
    max-width: 100%;
  }

.text {
  grid-area: footer1;
  font-family: Haettenschweiler;
  color:rgb(101, 105, 109)
}

.text2 {
  grid-area: footer2;
  font-family: Haettenschweiler;
  color:rgb(101, 105, 109)
}


@media only screen and (max-width: 600px) {
  body {
    display: grid;
    grid-template-areas:
      'header1 header2 header3 header4'
      'main main sidebar1 sidebar1'
      "main main sidebar2 sidebar2"
      "footer1 footer1 footer2 footer2";
  }
}